body{
    margin: 0;
    padding: 0;
}


.send-btn {
    background-color: #f5bb5c;
    border-color: #f5bb5c;
}

.chat-list {
    width: 38%;
}

.chat-screen {
    width: 62%;
    height: 100vh;
}
.user-message {

    background-color: #1AF189;
    padding: 10px;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: end;
    width: 50%;
    margin-top: 5px;

}

.shop-message {
    background-color: #DEDEDE;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: start;
}

 .create-message {
     position: fixed;
     bottom: 0;
     margin-bottom: 1%;
     min-width: 50%;
     margin-left: 1.5%;
     width: 36%;

 }

 .message-input {
     border-radius: 20px;
 }
 .chat-card {
     background-color: #ececec;
     margin: 8px;
     border-radius: 10px;
     padding: 10px;
     cursor: pointer;
     display: flex;
     align-items: center;

 }

.loadingButton{
    width: 200px;
    height: 100px;
    border: 0;
    background-color: white;
}

.txt-btn{
   width: 200px;
   height: 50px;
   border-radius: 20px;
    background: linear-gradient(118deg, #1E93B0, rgba(30, 147, 176, 0.7));
    box-shadow: 0 0 10px 1px rgb(30 147 176 / 70%);
   border-color:  #1E93B0;
   border :0px;
   color:white;
   text-transform: uppercase;
   align-items: center;
   margin-bottom: 10px;
}